[submodule "themes/rmz53"]
	path = themes/rmz53
	url = https://github.com/alamine53/hugo-researcher.git
[submodule "themes/hugo-researcher"]
	path = themes/hugo-researcher
	url = https://github.com/alamine53/hugo-researcher
