/** light theme **/

$light-background-color: #fff;

$light-font-color: #161209;
$light-font-secondary-color: #a9a9b3;

$light-navbar-active-color: #161209;

$light-global-link-color: #161209;
$light-global-link-hover-color:#2d96bd;

$light-post-link-color: #2d96bd;
$light-post-link-hover-color:#ef3982;

$light-pagination-link-color : #2d96bd;
$light-pagination-link-active-color: #000;

$light-border-color: #dcdcdc;



/** dark theme **/

$dark-background-color: #141d26;

$dark-font-color: #b1b1b1;
$dark-font-secondary-color: #c1c1c1;

$dark-navbar-active-color: #fff;

$dark-global-link-color: #a9a9b3;
$dark-global-link-hover-color:#fff;

$dark-post-link-color: #ggg;
$dark-post-link-hover-color:#fff;

$dark-pagination-link-color : #a9a9b3;
$dark-pagination-link-active-color: #fff;

$dark-border-color: #4a4b50;
$dark-border-color: #292a2a;



// ==============================
// Custom colors (source: https://github.com/bchiang7/v4)
// ==============================

$dark-lightest-slate: #ccd6f6;
$dark-light-slate: #a8b2d1;
$dark-slate: #8892b0;
$dark-lightest-navy: #435275;
$dark-light-navy: #172a45;
$dark-navy: #0a192f;
$dark-white: #e6f1ff;
$dark-green: #64ffda;

$light-blue: #1DA1F2;
$light-orange: #f27900;
$light-main: #2900ff;

$light-post-link-color: #2900ff;
$light-post-link-hover-color:#a8b2d1;


