{{ define "content" }}
{{ $data := .Data }}
<div class="post-warp archive">

    {{ range (.Paginate (.Pages.GroupByParam "weight")).PageGroups }}

    {{ range .Pages }}
    <!-- If external link exists in post matter -->
    {{ if isset .Params "affiliatelink" }}
        <article class="archive-item">
        {{ with .Params.featured_image }}
        <img style = "vertical-align:center" src="{{ . }}"alt="{{ $.Title }}" width="200" height="150"> {{ end }}
    
        <a href="{{ .Params.affiliatelink }}" target="_blank">
        <h3> {{ .Title }} &#8599;</h3>
        </a> 
        <h7 class="post-summary">{{ .Summary }}</h7>            
        <h6 class="pub-type" style="line-height:10%">{{ .Type }}  </h6>

        <h5 class="pub-date">{{ .Date.Format "2006" }} </h5>

    <!-- Else show without image -->
    {{else}}
        <article class="archive-item">
        {{ with .Params.featured_image }}
        <img style = "vertical-align:center" src="{{ . }}"alt="{{ $.Title }}" width="200" height="150"> {{ end }}

        <a href="{{ .Permalink }}" target="_blank">
        <h3> {{ .Title }} </h3>
        </a> 
        <h7 class="post-summary">{{ .Summary }}</h7>            
        <h6 class="pub-type" style="line-height:10%">{{ .Type }}  </h6>
        <h5 class="pub-date">{{ .Date.Format "2006" }} </h5>
    {{end}}
    </article>
    <br>
    <hr color = "lightgray" size = "1" width = "100%">
    <br> 
    {{ end }} {{ end }}
    {{ partial "paginator.html" . }}
</div>
{{end}}


