{{ define "content" }}
{{ $data := .Data }}

<div class="post-warp archive">
    <h1 class="post-title" style="text-align:right;padding-bottom:1
    em">&nbsp;{{ $data.Plural | humanize }}{{ .Title }}&nbsp;  </h1>
    {{ range (.Paginate (.Pages.GroupByParam "type")).PageGroups }}

    {{ range .Pages }}
    <br>
    <div class="container">
    <article class="archive-item">
          {{ with .Params.featured_image }}
            <img style = "vertical-align:center" src="{{ . }}"alt="{{ $.Title }}" width="250" height="200"> {{ end }}
            <br>
        <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
        <br>
        <h4 href="{{ .RelPermalink }}" class="archive-item-link">{{ .Description }}</h4>
        <br>
        <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Type }}</a>
        <br>
        <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Date.Format "April 2006" }}</a>            

        <div class="archive-item-date">
  
        </div>
    </article>
    </div>
    <br>
    {{ end }} {{ end }}
    {{ partial "paginator.html" . }}
</div>
{{end }}