{{ define "content" }}
{{ $data := .Data }}

<div class="post-warp archive">
    <h1 class="post-title" style="text-align:right;padding-bottom:2em">&nbsp;{{ $data.Plural | humanize }}{{ .Title }}&nbsp;</h1>
    {{ range (.Paginate (.Pages.GroupByParam "type")).PageGroups }}
    <h3>{{ .Key }}</h3>

    {{ range .Pages }}
    <br>
    <article class="archive-item">
        {{ with .Params.featured_image }}
            <img src="{{ . }}"alt="{{ $.Title }}" width="250" height="200"> {{ end }}
            <span>
                <a align=left href="{{ .RelPermalink }}" class="archive-item-link" style="font-size:1.5em">{{ .Title }} </a>
                <br>
                <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Type }}</a>
                <br>
                <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Date.Format "April 2006" }}</a>            
            </span>

<!--         <span class="archive-item-date">
            {{ .Date.Format "2006" }}
        </span> -->
    </article>
    <br>
    {{ end }} {{ end }}
    {{ partial "paginator.html" . }}
</div>
{{end }}