  
  /** Home **/
  
  .intro {
    transform: translateY(25vh);
    text-align: center;
    .avatar {
      padding: 6px;
      img {
        width: 128px;
        height: auto;
        display: inline-block;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        -webkit-box-shadow: 0 0 0 0.3618em rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 0 0.3618em rgba(0, 0, 0, 0.05);
        margin: 0 auto;
        -webkit-transition: all ease 0.4s;
        -moz-transition: all ease 0.4s;
        -o-transition: all ease 0.4s;
        transition: all ease 0.4s;
        cursor: pointer;
        &:hover {
          position: relative;
          -webkit-transform: translateY(-0.75em);
          -moz-transform: translateY(-0.75em);
          -ms-transform: translateY(-0.75em);
          -o-transform: translateY(-0.75em);
          transform: translateY(-0.75em);
          cursor: pointer;
        }
      }
    }
  }
  
  h2.description {
    font-family: SFMono-Regular;
    font-size: 1.2em;
    font-weight: 10;
    padding: 16px;
    color:$light-main;
    .dark-theme & {
      font-family: SFMono-Regular;
      color: $dark-green;
      }
  }

    /* Animation */


  .social-links {
    a {
    
      padding: 0 4px;
      &:hover {
       
        background-color: transparent;
      }
    }
    .iconfont {
      font-size: 1.5em;
    }
  }

  p {
    font-family: 'Barlow-Semi-Condensed', sans-serif;
    font-size: 4px;
    font-style: normal;
    margin-top: -40px;
    margin: 0.01em;
    font-weight: 100;
    letter-spacing: 0.4 rem;
    color: $light-global-link-color;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;


     .dark-theme & {
      color: $dark-font-secondary-color;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    }
  }   