// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

$dark-background-color: #141d26;
$dark-border-color: #141d26;
$dark-font-color: #64ffda;
$dark-font-post-color: #8892b0;
$dark-global-link-hover-color: #64ffda;

$dark-post-link-hover-color:#64ffda;
$dark-post-link-color: #141d26;



// ==============================
// Custom colors (source: https://github.com/bchiang7/v4)
// ==============================

$dark-lightest-slate: #ccd6f6;
$dark-light-slate: #a8b2d1;
$dark-slate: #8892b0;
$dark-light-navy: #172a45;
$dark-navy: #0a192f;
$dark-white: #e6f1ff;
$dark-green: #64ffda;
$light-blue: #1DA1F2;

$light-background-color: #FFFFFF;
$light-font-color: #14171A;
$light-font-secondary-color: #1DA1F2;

$light-global-link-color: #657786;
$light-global-link-hover-color: #1DA1F2;

$light-orange: #f27900;
$light-blue: #2900ff;

/** Font **/

$job-title-font: 'SFMono-Medium';


	/* Lato */
	@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
	
	/* Montserrat */
	@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800);
	
	/* Roboto */
	@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900);
  
  /* Poppins */ 
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

  html {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      height: 40px;
      background-color: #eee;
      border-radius: 16px;
      &:hover {
        background-color: #ddd;
      }
    }
  }
  
  ::selection {
    background: #64ffda;
  }
  
  html {
    font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft Yahei", "WenQuanYi Micro Hei", Verdana, sans-serif;
  }

// =================
// Add new fonts here 
// =================

  @font-face{
  font-family: 'JetBrainsMono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 2200;
  font-style: bold;
  }

  @font-face{
  font-family: 'Rachael', sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Chivo|Staatliches&display=swap);
  }

  @font-face{
  font-family: 'Barlow', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Barlow+Semi+Condensed&family=Oswald&display=swap');
  }

  @font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Chivo Regular'), local('Chivo-Regular'), url(https://fonts.gstatic.com/s/chivo/v11/va9I4kzIxd1KFrBmQeNVkqDOeTY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

  @font-face {
  font-family: 'Poppins';  }


  @font-face {
  font-family: SFMono-Medium;
  font-weight: 400;
  font-style: normal;
  src: url(../font/SFMono/SFMono-Medium.woff2?#iefix) format('woff2'), url(../font/SFMono/SFMono-medium.woff) format('woff'), url(../font/SFMono/SFMono-medium.ttf) format('truetype');
}
  @font-face {
  font-family: SFMono-Regular;
  font-weight: 100;
  font-style: normal;
  src: url(../font/SFMono/SFMono-Regular.woff2?#iefix) format('woff2'), url(../font/SFMono/SFMono-Regular.woff) format('woff'), url(../font/SFMono/SFMono-Regular.ttf) format('truetype');
}

  @font-face {
  font-family: SFMono-Semibold;
  font-weight: 100;
  font-style: normal;
  src: url(../font/SFMono/SFMono-Semibold.woff2?#iefix) format('woff2'), url(../font/SFMono/SFMono-Semibold.woff) format('woff'), url(../font/SFMono/SFMono-Semibold.ttf) format('truetype');
} 


  @font-face {
  font-family: Calibre;
  font-weight: 400;
  font-style: normal;
  src: url(../font/Calibre/Calibre-Regular.woff2?#iefix) format('woff2'), url(../font/Calibre/Calibre-regular.woff) format('woff'), url(../font/Calibre/Calibre-regular.ttf) format('truetype');
}
  @font-face {
  font-family: Calibre-Semibold;
  src: url(../font/Calibre/Calibre-Semibold.woff2?#iefix) format('woff2'), url(../font/Calibre/Calibre-Semibold.woff) format('woff'), url(../font/Calibre/Calibre-Semibold.ttf) format('truetype');
}

 @font-face {
  font-family: Calibre-SemiboldItalic;
  src: url(../font/Calibre/Calibre-SemiboldItalic.woff2?#iefix) format('woff2'), url(../font/Calibre/Calibre-SemiboldItalic.woff) format('woff'), url(../font/Calibre/Calibre-SemiboldItalic.ttf) format('truetype');
}

  @font-face {
  font-family: Calibre-Light;
  src: url(../font/Calibre/Calibre-Light.woff2?#iefix) format('woff2'), url(../font/Calibre/Calibre-Light.woff) format('woff'), url(../font/Calibre/Calibre-Light.ttf) format('truetype');
}  

  @font-face {
  font-family: Calibre-LightItalic;
  src: url(../font/Calibre/Calibre-LightItalic.woff2?#iefix) format('woff2'), url(../font/Calibre/Calibre-LightItalic.woff) format('woff'), url(../font/Calibre/Calibre-LightItalic.ttf) format('truetype');
}

  @font-face {
  font-family: Calibre-RegularItalic;
  src: url(../font/Calibre/Calibre-RegularItalic.woff2?#iefix) format('woff2'), url(../font/Calibre/Calibre-RegularItalic.woff) format('woff'), url(../font/Calibre/Calibre-RegularItalic.ttf) format('truetype');
}

  @font-face {
  font-family: Calibre-Regular;
  src: url(../font/Calibre/Calibre-Regular.woff2?#iefix) format('woff2'), url(../font/Calibre/Calibre-Regular.woff) format('woff'), url(../font/Calibre/Calibre-Regular.ttf) format('truetype');
}

// =================
// change font by replacing font-family & src
// =================

  body {
  font-family: 'SFMono-Regular', sans-serif;
    font-weight: 100;
    font-style: normal;
    line-height: 2em;
    background-color: $light-background-color;
    color: $light-font-color;
    &:before {
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.05;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray;
    }

     &.dark-theme {
        background-color: $dark-background-color;
        color: $dark-font-color;
     }
  }
  
  a {
    font-family: 'Barlow-Semi-Condensed', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1em;
    letter-spacing: 0.4 rem;
    color: $dark-lightest-navy;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    &:hover {
      color: $light-global-link-hover-color;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    }

     .dark-theme & {
      color: $dark-light-slate;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;

      &:hover{
        color: $dark-global-link-hover-color;
        text-decoration: none;
        transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
      }
    }
  }

  h1 {
    font-family: 'Calibre-Semibold';
    font-size: 36px;
    letter-spacing: 0.04rem;
    line-height: 1;
    color: $dark-light-slate;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;

     .dark-theme & {
      color: $dark-white;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    }
  }  

    h2 {
    font-family: 'SFMono-Regular';
    font-size: 3em;
    letter-spacing: 0.01rem;
    line-height: 1.2em;
    color: $light-blue;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;

     .dark-theme & {
      color: $dark-green;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    }
  }  

  h3 {
    font-family: 'Calibre-Semibold';
    line-height: 18px;
    display: block;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 0.1 rem;
    color: $dark-navy;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    &:hover {
      text-decoration: underline;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    }
    .dark-theme & {
      color: $dark-lightest-slate;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;

      &:hover {
      text-decoration: underline;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    }
    }

  }

  h4 {
    font-family: 'SFMono-Semibold';
    line-height: 12px;
    display: block;
    font-style: normal;
    font-weight: 100;
    font-size: 1em;
    letter-spacing: 0.1 rem;
    color: $light-main;
    margin-bottom: 12px;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    &:hover {
      color: $light-global-link-hover-color;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    }

     .dark-theme & {
      font-family: 'SFMono-Regular';
      color: $dark-font-color;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
      &:hover{
        color: $dark-font-secondary-color;
        text-decoration: none;
        transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
      }
    }
  }  

  h5 {
    font-family: 'SFMono-Regular';
    line-height: 10px;
    display: block;
    font-weight: 0.01px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 12px;
    letter-spacing: 0.1 rem;
    color: $dark-slate;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;

     .dark-theme & {
      color: $dark-slate;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    }
  }

  h6 {
    font-family: 'SFMono-Regular';
    line-height: 10px;
    display: block;
    font-weight: 0.7px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 12px;
    letter-spacing: 0.1 rem;
    color: $light-blue;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;

     .dark-theme & {
      color: $dark-green;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    }
  }

  h7 {
    font-family: 'Barlow-Semi-Condensed', sans-serif;
    display: block;
    line-height: 18px;
    font-weight: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    letter-spacing: 0.1 rem;
    color: $dark-lightest-navy;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;

     .dark-theme & {
      color: $dark-slate;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    }
  }

  h9 {
    font-family: 'Calibre-Semibold', sans-serif;
    display: block;
    line-height: 20px;
    font-weight: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    letter-spacing: 0.1 rem;
    color: $dark-navy;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    &:hover {
      text-decoration: underline;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    }
     .dark-theme & {
      color: $dark-lightest-slate;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
      
      &:hover {
        text-decoration: underline;
        transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
      }
    }
  }

  p{
    font-family: 'Barlow-Semi-Condensed', sans-serif;
    display: block;
    font-weight: 10px;
    font-size: 12px;
    letter-spacing: 0.1 rem;
    color: $dark-navy;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;

     .dark-theme & {
      color: $dark-light-slate;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    }
  }
  blockquote {
    font-size: 1rem;
    display: block;
    border-width: 1px 0;
    border-style: solid;
    border-color: $light-border-color;
    padding: 1.5em 1.2em 0.5em 1.2em;
    margin: 0 0 2em 0;
    position: relative;

    &:before {
      content: '\201C';
      position: absolute;
      top: 0em;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 3rem;
      height: 2rem;
      font: 6em/1.08em 'PT Sans', sans-serif;
      color: $light-post-link-color;
      text-align: center;
      
       .dark-theme &{
         color: $dark-post-link-color;
       }
    }
    &:after {
      content: "#blockquote" attr(cite);
      display: block;
      text-align: right;
      font-size: 0.875em;
      color: $light-post-link-color;

       .dark-theme &{
         color: $dark-post-link-color;
       }
    }

    .dark-theme & {
      border-color: $dark-border-color;
    }
  }